*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201f1f;
    color: white;
    min-height: 55px;
}

nav p, nav ul{
    margin: 0 !important;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem
}

.buttons-div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

button{
    height: 40px;
    padding: 0 0.5rem;
    border-radius: 5px;
}

li{
    cursor: pointer;
}


/* ================REQUIREMENTS================= */

body.is-admin .role-admin{
    display: block;
}

.page{
    display: none;
}

.page.active{
    display: block;
}

body.not-authenticated .role-logged-in{
    display: none;
}

body.authenticated .role-logged-out{
    display: none;
}

.role-admin{
    display: none;
}


/* ============== SECTION ============= */

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
   
}

section{
    width: 100%;
    max-width: 1300px;
    padding: 1rem;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

table{
    width: 100%;
    margin-bottom: 1rem;
}


/* =============== HOME =============== */

#home-note-div{
    background-color: skyblue;
    display: flex;
    height: 40px;
    padding: 0.5rem;
    align-items: center;
}

#home-page > ul{
    padding-left: 3rem;
}

/* ============ REGISTER =============== */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label{
    width: 100%;
}

form input[type='text'], input[type='password'], input[type='date'], select{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4040409e;
}

option{
    width: 100%;
}

.hide-msg{
    display: none;
}

.item-div {
    display: flex;
    align-items: center;      
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;   
    margin-bottom: 10px;      
    background-color: #fdfdfd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.itemName {
    flex: 3;                   
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}


.itemQty{
    flex: 1;                   
    padding: 8px 10px;
    border: 1px solid #ccc;
    outline: none;
}

.item-div > button {
    flex: 1;                  
    padding: 8px 10px;
    border: none;
    /* background-color: #3498db; */
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.item-div button:hover {
    background-color: #2980b9;
}


/* =============== MODAL =============== */

#toast-el{
    top: 1rem;
    right: 1rem;
}

/* ================== FORM =========== */
.form-msg{
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid gray;
    margin-bottom: 1rem;
    color: red;
    width: fit-content;
    font-weight: 500;
    font-size: 0.9rem;
    border-color: rgb(223, 59, 59);
}

form span{
    color: red;
    font-size: 0.9rem;
    
}