body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201f1f;
    color: white;
    min-height: 55px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem
}

.buttons-div{
    display: flex;
    gap: 1rem
}

/* ============== SECTION ============= */

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section{
    width: 100%;
}


/* =============== HOME =============== */

#home-note-div{
    background-color: skyblue;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

/* ============ REGISTER =============== */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    display: block;
    width: 100%;
    max-width: 600px;
}