*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201f1f;
    color: white;
    min-height: 55px;
}

nav p, nav ul{
    margin: 0 !important;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem
}

.buttons-div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

button{
    height: 40px;
    padding: 0 0.5rem;
    border-radius: 5px;
}

/* ================REQUIREMENTS================= */

.page{
    display: none;
}

.page.active{
    display: block;
}

body.not-authenticated .role-logged-in{
    display: none;
}

body.not-authenticated .role-logged-out{
    display: none;
}

.role-admin{
    display: none;
}

body.is-admin .role-admin{
    display: block;
}

/* ============== SECTION ============= */

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
   
}

section{
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}


/* =============== HOME =============== */

#home-note-div{
    background-color: skyblue;
    display: flex;
    height: 40px;
    padding: 0.5rem;
    align-items: center;
}

#home-page > ul{
    padding-left: 3rem;
}

/* ============ REGISTER =============== */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label{
    width: 100%;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4040409e
}