body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201f1f;
    color: white;
    min-height: 55px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem
}

.buttons-div{
    display: flex;
    gap: 1rem
}

/* ================REQUIREMENTS================= */

.page{
    display: none;
}

.page.active{
    display: block;
}

body.not-authenticated .role-logged-in{
    display: none;
}

body.not-authenticated .role-logged-out{
    display: none;
}

.role-admin{
    display: none;
}

body.is-admin .role-admin{
    display: block;
}

/* ============== SECTION ============= */

main{
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
}

section{
    width: 100%;
}


/* =============== HOME =============== */

#home-note-div{
    background-color: skyblue;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

/* ============ REGISTER =============== */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    display: block;
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #404040
}